//@import "../../../assets/css/animate.less";
.task{
  position:relative;
  .header{
    height: 12px;
    width: 100%;
    background: #0BAFFE;
  }
  .bottom-bg{
    display: block;
    width: 100%;
  }
  .left{
    position: absolute;
    width: 93*2px;
    left: 0 ;
    top: 132px ;
    z-index : 1 ;
  }

  .task-main{
    min-height: 982px;
    position: relative;
    z-index : 2 ;
    margin-top: 48px;
    .timer-shaft {
      /*display: inline-block;*/
      width: 164px;
    }

    .panel-conf{
      position: relative;
      .delete{
        width: 20px;
        height: 20px;
        position: absolute;
        right: 24px;
        top: 20px ;
       }
      display: inline-block;
      width: 552px;
      min-height: 122px;
      .text{
        margin-left: 20px;
        margin-top: 14px;
        width: 490px;
        line-height:40px;
        font-size: 28px;
      }
      .imgs-wrap{
        margin-left: 28px ;
        margin-top: 14px;
        margin-bottom: 34px;
        &.edit{
          margin-bottom: 15px;
          margin-top: 0;
        }
        >img{
          width: 116px;
          height: 114px;
          margin-right: 10px;
        }
        .img-out{
          display: inline-block;
          position: relative;
          width: 116px;
          height: 114px;
          margin-right: 10px;
          .close-btn{
            position: absolute;
            width: 35px ;
            height: 35px ;
            right: -8px!important;
            top: -15px;
            z-index: 2;
          }
          .img{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0 ;
            top: 0;
            z-index: 1;
          }
          input{
            position: absolute;
            left: 0 ;
            width: 100%;
            height: 100%;
            top: 0 ;
            opacity:  0;
            z-index: 1;
          }
        }

      }
      &.edit{
        height: 330px;
        position:relative ;
        .input:-webkit-input-placeholder{
          color:#999;
        }
        .input{
          width: 238*2px;
          height:   70px;
          font-size: 24px;
          color:#666;
          line-height: 34px;
          margin-left: 24px;
          margin-top: 28px;
        }
        .placeholder-icon{
          width: 30px;
          position: absolute;
          left : 190px;
          top: 24px;
        }
      }
    }
    .start-section{
      margin-top: 34px;
    }
    .end-section{

    }
    .doing-section{

    }
  }


}
/*信号灯*/
.light{
  width: 8.6*2px;
  height: 8.6*2px;
  border-radius: 100%;
  border-width: 6.4px ;
  border-style : solid ;
  box-sizing : content-box;
  border-color: rgba(255,255,255,0.8);
  margin:  4*2px auto;
  &.start{
    background: #80EA69;
    /*border-color: (r:0.50 g:0.92 b:0.41 a:1.00);*/
  }
  &.doing{
    background: #09ACFE;
  }
  &.pass{
    background: #fff;
    border-color: #09ACFE ;
    opacity: 0.28;
  }
  &.end{
    background: #EA7B69;
  }
}
.link-dot{
  width: 7*2px;
  height: 7*2px;
  background: #E7EBEF;
  margin: 10px auto;
  /*margin-bottom: 5*2px;*/
  border-radius: 100% ;;
  box-sizing : content-box;
}


.task-desc-bar{
  line-height: 1.3;
  margin-top: 40px;
  .tran{
    width: 26px;
  }
  .tran-up{
    margin-top: 10px;
    width: 26px;
    height: 15px;
    transform: rotate(180deg);
  }
}

.bottom-panel{
  font-size: 44px;
  height: 114px;
  margin-top: 20px;
  .text-main{
    padding-left: 104px;
    padding-right: 104px;
    line-height: 1.3;
    .date{
      width: 120px;
    }
    .line{
      width: 206px;
      height: 4px;
    }
  }

}

//.top-enter-active {
//  .animate-fadeIn;
//}
//.top-leave-to{
//    .animate-fadeOut ;
//}


@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}



